{% extends 'layout.html' %}
{% block title %}About Sudan{% endblock %}
{% block content %}

<div class="about-sudan-wrapper wrapper">
    <section class="about-sudan-hero-section hero-section">
        <div class="container">

            <div class="about-sudan-hero-background"></div>

            <div class="hero-left-line hero-line"></div>
            <div class="hero-right-line hero-line"></div>

            <div class="hero-content">
                <div class="hero-card">
                    <h1 class="hero-title">SUDAN</h1>
                    <h2 class="hero-subtitle">The Greatest Civilization in Human History</h2>
                    <p class="hero-text">5000+ Years of Unbroken Heritage</p>
                </div>
            </div>

        </div>
    </section>

    <section class="facts-section py-5 bg-light">
        <div class="container">
            <div class="row g-4 d-flex align-items-stretch">

                <div class="col-lg-3 col-md-6">
                    <div class="card fact-card h-100">
                        <span class="icon-container"><i class='bx bx-buildings'></i></span>
                        <h3 class="card-title">Capital City</h3>
                        <p class="fact-text">Khartoum</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card fact-card h-100">
                        <span class="icon-container"><i class='bx bx-map-alt'></i></i></span>
                        <h3 class="card-title">Land Area</h3>
                        <p class="fact-text">1.886M km²</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card fact-card h-100">
                        <span class="icon-container"><i class='bx bx-user-voice'></i></span>
                        <h3 class="card-title">Official Languages</h3>
                        <p class="fact-text">Arabic & English</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card fact-card h-100">
                        <span class="icon-container"><i class='bx bx-group'></i></span>
                        <h3 class="card-title">Population</h3>
                        <div class="mt-auto"><p class="fact-test mb-0">51.1 million</p></div>
                        <small>2024-2025</small>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
{% endblock %}