{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="login-wrapper d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="login-card d-flex flex-column flex-md-row overflow-hidden">
            <div class="form-img login-card-image position-relative">
                <span class="badge-gold">
                    Protecting The Identity of the Nation
                </span>
            </div>
            <div class="form-card">
                <form action="/login" method="post" class="needs-validation p-4"
        autocomplete="off" novalidate>

        <div class="form-header mb-5">
            <h1>Login to Your Account</h1>
        </div>
        
        <div class="mb-3">
        <div class="form-field-wrapper mb-3">
            <label for="identifier" class="form-label">Username or National ID</label>

            <div class="input-group has-validation">
                <span class="input-group-text">
                    <i class="bx bxs-user"></i>
                </span>
                <input type="text" class="form-control" id="identifier" name="identifier"
                    placeholder="Enter username or national ID" autocomplete="off" required>
                <div class="invalid-feedback">
                    Please enter your username or national ID.
                </div>
            </div>
        </div>

        <div class="form-field-wrapper mb-3">
            <label for="password" class="form-label">Password</label>

            <div class="input-group has-validation">
                <span class="input-group-text">
                    <i class="bx bxs-lock"></i>
                </span>

                <input type="password" class="form-control" id="password" name="password" placeholder="••••••••"
                    autocomplete="new-password" required>

                <div class="invalid-feedback">
                    Please enter your password.
                </div>
            </div>
        </div>
        </div>

        <p><a href="{{url_for('reset_password')}}">Forgot Password?</a></small></p>

        <div class="d-grid gap-3">
            <button type="submit" class="btn-form btn btn-primary">Login</button>
            <p class="text-center">Don't have an account? <a href="{{url_for('register')}}">Register</a></p>
        </div>
        

    </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}